.footer{
    height: 40vh;
    background-color: rgb(58, 58, 58);
}

.footer-top{
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(255, 42, 0, 0.87);
}

.footer-bottom{
    margin-left: -100px;
    height: 30vh;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}

.top-left{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.top-right{
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.foot-img{
    display: flex;
    align-items: center;
}

.number-text{
    color: white;
    margin-left: 6px;
}

p{
    color: rgba(236, 236, 236, 0.916);
    /* font-family: sans-serif; */
}

.footer-link{
    color:aliceblue;
    display: block;
}
.footer-link2{
    color:aliceblue;
    display: block;
}
.footer-link3{
    color:aliceblue;
    display: block;
}
.footer-link4{
    color:aliceblue;
    display: block;
}
.GOO{
    color:aliceblue;
    text-decoration: none;
}