.header{
    background-image: url('image/kfc\ background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 90vh;
    display: flex;
    flex-direction: column;

}

.logo{
    height: 10vh;
    /* background-color: blue; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.logo-right{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
}

.profile{
    border-radius: 16px;
    width: 32px;
}

.about, .find, .allcamp{
    color: white;
    font-family: sans-serif;
    font-weight: 700;
    cursor: pointer;
}

.kfclogo{
    width: 100px;
}

h1{
    color: white;
    /* width: 250px; */
    line-height: 45px;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 45px;
}

h4{
    color: white;
    width: 400px;
    font-family: sans-serif;
    font-weight: 400;
    margin-top: 20px;
}

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.image, .bargain{
    /* flex: 1; */
    margin-top: 70px;
}

.image{
    width: 380px;
}

.button{
    margin-top: 15px;
    background-color: rgb(255, 42, 0);
    border: 2px solid white;
    padding: 7px 25px;
    border-radius: 15px;
    color: white;
    font-family: sans-serif;
    font-weight: 700;
    cursor: pointer;
    transition: box-shadow 0.15s;
}

.button:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.20);
}
.button:active{
    opacity: 0.7;
}

/* .menu-button{
    background-color: rgb(255, 191, 0);
    color: white;
    border: none;
    padding: 5px 12px;
    border-radius: 10px;
} */