nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* justify-content: space-around; */
    /* background-color: black; */
    height: 10vh;
}

.arrow-btn{
    background-color: red;
    border: none;
    color: white;
    padding: 2px 3px;
    font-family: sans-serif;
    font-weight: 700;
    transition: box-shadow 0.15s;
}

.arrow-btn:hover{
    box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.20);
}

.arrow-btn:active{
    opacity: 0.7;
}

.anchor{
    /* width: fit-content; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Lucida Sans Regular';
    font-weight: 700;
    font-size: small;
    cursor: pointer;
    transition: border 0.15s;
}

.anchor:hover{
    border-bottom: 2px solid red;
}

.food-menu{
    width: 72%;
    /* height: 140vh; */
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}

.nav-container{
    width: 96%;
    height: 10%;
    /* background-color: #333; */
    overflow: auto;
    display: flex;
    box-sizing: border-box;
    gap: 20px;
    margin-top: 9px;
    /* border: 2px solid #ccc; */
    font-family: Arial;
    font-weight: 300;
    font-stretch: condensed;
    letter-spacing: 0.6px;
    overflow-x: auto;
}

.nav-container::-webkit-scrollbar{
    background-color: transparent;
}

.nav-container::-webkit-scrollbar-thumb {
    background: transparent;
}

.nav-container::-webkit-scrollbar-thumb:hover {
    background: transparent;
}