.mid-section{
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
    height: 70vh;
    
}

.mid-grid{
    width: 64%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: 2fr 2fr; */
    column-gap: 20px;
}

.contain, .contain1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    border-radius: 10px;
    padding: 15px 25px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.20);
}

.contain1{
    background-color: rgba(243, 14, 14, 0.933);
}

h3, h5{
    font-family: 'Lucida Sans Regular';
    font-weight: 800;
}
h5{
    margin-top: 7px;
    margin-bottom: 7px;
}

.contain-text{
    color: white;
}

.second-grid{
    width: 64%;
    margin-top: 15px;
    display: grid;
    grid-template-columns: 2fr 2fr;
    column-gap: 20px;
}

/* .grid-text, .grid-img{
    flex: 1;
} */

.grid-btn, .grid-btn1{
    background-color: rgb(255, 42, 0);
    border: none;
    padding: 7px 25px;
    border-radius: 15px;
    color: white;
    font-family: sans-serif;
    font-weight: 700;
    cursor: pointer;
    transition: box-shadow 0.15s;
}

.grid-btn{
    margin-top: 15px;
}

.grid-btn1{
    margin-top: 30px;
}

.grid-btn:hover, .grid-btn1:hover{
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.20);
}
.grid-btn:active, .grid-btn1:active{
    opacity: 0.7;
}

.yellow{
    background-color: rgb(255, 181, 54);
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}

.yel-img{
    z-index: 100;
    /* margin-top: -50px; */
}

h2{
    color: white;
    font-family: sans-serif;
}

.app-ads{
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    justify-content: space-between;
    margin-top: 10px;
}

.apps{
    border-radius: 50px;
    border: none;
}

.mid-rd{
    background-color: antiquewhite;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* justify-content: space-evenly; */
}

/* display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly; */

/* .comment-section{
    display: inline-block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vh;
    width: 50%;
} */

.grid-rd{
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}

.grid-forth{
    width: 50%;
    margin-top: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
}

.contain2{
    background-color: white;
    padding: 7px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.social-media{
    display: flex;
    padding-top: 7px;
    padding-left: 5px;
    align-items: center;
}

.social-reviews{
    margin-top: 3px;
    padding: 10px;
    /* margin-left: 10px; */
}

.username{
    margin-left: 5px;
}

.picture{
    width: 300px;
}

/* .picture, .comment-section{
    flex: 1;
} */


